@page "/user"
@* @inject AuthenticationStateProvider authProvider *@

<h1>View User</h1>
<br />

@if (users == null)
{
    <p><em>Loading user details...</em></p>
}
else
{
    @* <table class="table table-bordered col-md-6"> *@
    @*     <tbody> *@
    @*         <tr> *@
    @*             <th scope="row">Id</th> *@
    @*             <td>@user.Id</td> *@
    @*         </tr> *@
    @*         <tr> *@
    @*             <th scope="row">Username</th> *@
    @*             <td>@user.Username</td> *@
    @*         </tr> *@
    @*         <tr> *@
    @*             <th scope="row">Email</th> *@
    @*             <td>@user.Email</td> *@
    @*         </tr> *@
    @*         <tr> *@
    @*             <th scope="row">User Role</th> *@
    @*             <td>@user.Role</td> *@
    @*         </tr> *@
    @*     </tbody> *@
    @* </table> *@
}

@code {
    private User users;

    protected override async Task OnInitializedAsync()
    {
        // var customAuthService = (CustomAuthService)authProvider;
        // var users = await customAuthService.();
    }
}
